# Dependencies
**/node_modules/

# Build Outputs
**/dist/
**/.next/
**/build/
**/out/
coverage/

# Environment Files
.env
.env.*
**/.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts